<header class="navbar">
    <div class="container">
      <div class="nav-inner">
        <div class="brand">
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <small>McGill · ML / NLP / CV </small>
        </div>
        <nav class="navlinks">
          <a href="{{ '/' | relative_url }}">About</a>
          <a href="{{ '/projects/' | relative_url }}">Projects</a>
          <a href="{{ '/papers/' | relative_url }}">Papers</a>
          <a href="{{ '/education/' | relative_url }}">Education</a>
          <a href="{{ '/experience/' | relative_url }}">Experience</a>
          <a href="{{ '/cv/' | relative_url }}">CV</a>
        </nav>
      </div>
    </div>
  </header>  